{% extends 'layout.html' %}

{% block content %}
    <!-- Text Input -->
    <div class="row">
        <div class="column side"> </div>
        <div class="column middle">

            <h1 style="text-align: center">How it works</h1>
            <br>

            <div class="custom-card">
                <p> When the user inputs the text, the webapp will return an audio file with the text's translation. </p>
            </div>
        </div>

        <div class="column side"> </div>
    </div>
{% endblock %}

