<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>User Bubble Chart</title>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bubblestyles.css') }}">
</head>
<body>
  <b><p style="text-align:center;"> Interactive Bubble chart - User Cluster</p></b>
  <br><br><br><br><br><br>
  
<div id="chart" class="chart"></div> 
<!-- using chart class to centre the bubbles -->

<!-- importing D3 Ajax libs needed -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.8/d3.min.js'></script> 
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.min.js'></script><script src="{{ url_for('static',filename='script/bubblechartuser.js') }}"> </script>

</body>
</html>
