{% extends 'layout.html' %}

{% block content %}
    <body>
        <!-- Text Input -->
        <div class="row">
            <div class="column side"> </div>
            
            <div class="column middle">
                <div class="card">
                    <h1 style="text-align: center">Error 500</h1>
                    <p>Internal Server Error, Try again...</p>
                </div>
            </div>
    
            <div class="column side"> </div>
        </div>
    </body>
{% endblock %}