{% extends 'layout.html' %}

{% block content %}
    <!-- Text Input -->
    <div class="row">
        <div class="column side"> </div>
        <div class="column middle">

            <h1 style="text-align: center">How it works</h1>
            <br>

            <div class="custom-card">
                <h2> Text-to-Speech - powered by MASRI </h2>
                <p>**TAKEN FROM MASRI OFFICIAL WEBSITE**</p>
                <br>

                <h3>MASRI</h3>
                <p>
                    We are interested in a broad variety of problems in Speech Recognition for under-resourced languages, especially Maltese.
                </p>
                <p>
                    Aħna interessati f'diversi sfidi konnessi mat-traskrizzjoni awtomatika b'lingwi bi ftit riżorsi, speċjalment il-Malti.
                </p>

                <br>

                <h4>Support | Fondi</h4>
                <p>
                    <span class="text-dark">MASRI is supported by a University of Malta Research Fund Excellence grant.</span>
                    <br/>
                    <span class="text-muted">MASRI għandu l-fondi mill-Fond tar-Riċerka tal-Università ta' Malta.</span>
                </p>

                <br>

                <h4>Data</h4>
                <p>
                    <span class="text-dark">We are creating speech corpora and investigating data augmentation techniques.</span>
                    <br/>
                    <span class="text-muted">Qed noħolqu korpora tat-taħdit u ninvestigaw mezzi biex nawmentaw id-data.</span>
                </p>

                <br>

                <h4>Technologies | Technoloġiji</h4>
                <p>
                    <span class="text-dark">We investigate neural techniques for speech-to-text, forced alignment etc.</span>
                    <br/>
                    <span class="text-muted">Qed ninvestigaw teknoloġija bbażata fuq xbiek newrali għat-traskrizzjoni awtomatika, <i>forced alignment</i>, eċċ.</span>
                </p>

                <br>
                <br>
                <a href="https://www.um.edu.mt/projects/masri/" class="btn btn-primary btn-lg">Find out more</a>

            </div>
        </div>

        <div class="column side"> </div>
    </div>
{% endblock %}

